.flexExpand {
  flex: 1 1 auto;
}
.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  top: 0;
  background-color: #FFFFFF;
}
.topmargin {
  margin-top: 64px;
}
.automargin {
  margin: auto !important;
}
.topbotmargin {
  margin-top: 6px;
  margin-bottom: 6px;
}
.hachures {
  background: repeating-linear-gradient(
    -45deg,
    #AAA,
    #AAA 2px,
    transparent 2px,
    transparent 12px)
}
