<br>

<h4 class="text-center">Affichage par catégorie</h4>

<div class="row m-auto">

  <div class="col-6">
    <button class="btn same-width" [ngClass]="{'btn-success': coursSelected == false,
                                   'btn-danger': coursSelected == true}"
            (click)="setSortingTerm('Cours'); coursSelected = !coursSelected">
      Cours
    </button>
  </div>

  <div class="col-6">
    <button class="btn same-width" [ngClass]="{'btn-success': revisionSelected == false,
                                   'btn-danger': revisionSelected == true}"
            (click)="setSortingTerm('Révision'); revisionSelected = !revisionSelected">
      Révision
    </button>
  </div>

  <div class=" col-12 divider"></div>

  <div class="col-6">
    <button class="btn same-width" [ngClass]="{'btn-success': tempsLibreSelected == false,
                                   'btn-danger': tempsLibreSelected == true}"
            (click)="setSortingTerm('Temps Libre'); tempsLibreSelected = !tempsLibreSelected">
      Temps Libre
    </button>
  </div>

  <div class="col-6">
    <button class="btn same-width" [ngClass]="{'btn-success': diversSelected == false,
                                   'btn-danger': diversSelected == true}"
            (click)="setSortingTerm('Divers'); diversSelected = !diversSelected">
      Divers
    </button>
  </div>

</div>
