<mat-drawer-container class="example-container mat-typography" autosize>
  <mat-drawer mode="side" disableClose="true" opened="true" class="noselect sidenav"
  [ngClass]="this.getUrl() === '/login' ? 'd-none' : ''" >
    <div>
    <mat-nav-list class="liste-icones">
      <a [routerLink]="[{ outlets: { side: ['list'] } }]">
        <mat-list-item (click)="isExpanded = !isExpanded">
          <mat-icon mat-list-icon>menu</mat-icon>
        </mat-list-item>
      </a>
      <a [routerLink]="[{ outlets: { side: ['list'] } }]">
        <mat-list-item (click)="checkOpened('list')">
          <mat-icon mat-list-icon>folder_open</mat-icon>
        </mat-list-item>
      </a>
      <a [routerLink]="[{ outlets: { side: ['add'] } }]">
        <mat-list-item (click)="checkOpened('add')">
          <mat-icon mat-list-icon>add</mat-icon>
        </mat-list-item>
      </a>
      <a [routerLink]="[{ outlets: { side: ['filter'] } }]">
        <mat-list-item (click)="checkOpened('sort')">
          <mat-icon mat-list-icon class="material-icons">sort</mat-icon>
        </mat-list-item>
      </a>
    </mat-nav-list>
      <div class="routeur-interface" *ngIf="isExpanded" >
    <router-outlet name="side"></router-outlet>
      </div>
    </div>
  </mat-drawer>
  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
