.example-sidenav-content {
  align-items: center;
  width: 100%;
  justify-content: center;
}

.sidenav {
  background-color: #0747A6;
  position: fixed;
}

.active {
  background-color: rgba(9, 30, 66, 0.25);
}

mat-icon {
  color: white;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.liste-icones {
  float: left;
}

.routeur-interface {
  float: right;
  width: 300px;
}
