<br>
<div class="row text-center align-content-center justify-content-center m-auto">
    <form (ngSubmit)="onSubmit(formulaire)" #formulaire="ngForm">
      <div class="form-group">
        <label for="nom">
          Activité :
        </label>
        <input type="text" id="nom" name="nom" class="form-control" ngModel required>
      </div>
      <div class="form-group">
        <label for="duree">
          Durée :
        </label>
        <input type="range" id="duree" name="duree" class="custom-range" min="15" max="120" step="15" ngModel>
        <p [ngClass]="!formulaire.value.duree ? 'd-none' : ''"
          *ngIf="formulaire.value.duree as value">{{value}} min
          <span *ngIf="value > 60">({{math.floor(value/60) | number: '1.0-0'}}h<span *ngIf="value%60 !== 0">{{value%60}}</span>)
          </span>
        </p>
        <p [ngClass]="!formulaire.value.duree ? '' : 'd-none'">75 min (1h15)</p>
      </div>
      <div class="form-group">
        <label for="categorie">
          Catégorie :
        </label>
        <select id="categorie" class="custom-select" name="categorie" ngModel required #categorie (change)="changeColor(categorie.value)">
          <option>
            Révision
          </option>
          <option>
            Temps libre
          </option>
          <option>
            Divers
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="couleur">
          Couleur :
        </label>
        <input type="button" [(colorPicker)]="color" [style.background]="color" cpOutputFormat="hex"
               cpAlphaChannel="disabled" id="couleur" class="custom-select" name="couleur" ngModel>
      </div>
    <button class="btn btn-primary" [disabled]="formulaire.invalid" (click)="snackbar()">Ajouter</button>
    </form>
</div>
